main .left,main .right{
    display:inline-block !important;
}
/*@media only screen and (min-width: 960px){
    main .left,main .right{
        float: left;
    }
}*/
.slick-prev:before, .slick-next:before{
color:#666;
}
.slick-prev, .slick-next{
top:auto;
}
.slick-prev{
left:0;
}
.slick-next{
right:0;
}