$blue:#203D89;
$yellow:#F6EF87;
$logoSize:2.75em;
$fontColor:#F6EF87;
$break-small:320px;
$break-large:960px;
@mixin respond($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
body,
html {
    margin: 0;
    padding: 0;
    background-color: $blue;
}

@font-face {
    font-family: 'texgyrechorusregular';
    src: url('hal_miles_font-webfont.eot');
    src: url('hal_miles_font-webfont.eot?#iefix') format('embedded-opentype'), url('hal_miles_font-webfont.woff2') format('woff2'), url('hal_miles_font-webfont.woff') format('woff'), url('hal_miles_font-webfont.ttf') format('truetype'), url('hal_miles_font-webfont.svg#texgyrechorusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    background-color: $blue;
    margin: 0;
    padding: 2em 0 2em 0;
    color: #5592C9;
    /*last word is not included in padding so this adds it*/
    
    #logo {
        width:100%;
        display: block;
        text-align: left;
        @include respond(large){
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width:25%;
            
        }
        h1 {
            margin: 0;
            font-size: $logoSize;
            font-family: 'texgyrechorusregular', serif;
            text-shadow: 0 0 7px #000;
            @include respond(large){
            font-size: 2em;
            }
            /*&:first-child{@include respond(large){padding-left: 20px;}}*/
            img{
            width:100%;
                border: none;
                margin:0;
            }
        }
    }
    nav {
        display: inline-block;
        width: 100%;
        background-color: $blue;
        font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
        @include respond(large){
            width:75%;
        }
        
        ul {
            list-style: none;
            text-align: center;
            padding: 0;
            li {
                display: inline-block;
                width:33.333%;
                float:left;
                padding: 5px 0;
                margin:0.75em 0;
                @include respond(large){
                    width: 15%;
                    float:none;
                    margin:0;
                }
                &:nth-child(3n+1){
                clear:left;
                    @include respond(large){
                    clear:none;
                    }
                }
                a {
                    color: $fontColor;
                    text-decoration: none;
                    padding-bottom: 3px;
                    text-transform: uppercase;
                    font-size: 0.9em;
                }
                &:hover {
                    border-bottom: 5px solid $yellow;
                    padding-bottom:0;
                }
            }
        }
    }
}

.wrap {
    
    width:100%;
    min-width:300px;
    margin: 0 auto;
    padding:0 10px;
    box-sizing: border-box;
    @include respond(large){max-width: 960px;}
}

main {
    width: 100%;
    background-color: white;
    @include respond(large){display: table;}
    /*only works if you set height of left and right classes*/
    
    .left, .right {
        width:100%;
        padding-bottom:1em;
        @include respond(large){width: 49%;vertical-align: middle;        display: table-cell;padding-bottom: 0;}
        
        img {
            margin: 0 auto;
            padding-top:1.5em;
        }
        figure {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            @include respond(large){padding: 0.75em;}
            float: left;
            figcaption{
            text-align: center;
                display: block;
                background-color:#333;
                color:white;
                padding:0.25em;
            }
            img{
            width:100%;
            }
        }
        video{
            margin:0 auto;
            width: 100%;
            @include respond(large){width:90%;padding-left:5%;}
        }
    }
}

footer {
    clear: both;
    background-color: $blue;
    color: $fontColor;
    padding: 1em 0;
    p {
        text-align: right;
        font-size: 0.75em;
    }
}

article {
    border: 1px solid #203D89;
    background-color: #FFFFFF;
    margin: 1.5em auto;
    header {
        background-color: #203D89;
        line-height: normal;
        color: #F6EF87;
        font-size: 0.8em;
        padding: 5px 0;
        text-align: center;
        h2, h3 {
            margin: 0px;
        }
    }
    p {
        margin: 0;
        text-align: left;
        padding: 1em 0.5em;
        .shortstitles {
            font-style: italic;
        }
        a {
            color: #F6B20C;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    span {
        padding: 1em;
    }
    ul {
        margin: 0;
    }
    div nav ul {
        margin: 0 0.5em;
        li {
            position: relative;
            top: 1px;
            float: left;
            background-color: #DDD;
            list-style: none;
            border-left: solid 1px #CCC;
            border-bottom: solid 1px #999;
            border-top: solid 1px #999;
            border-right: solid 1px #999;
            -moz-user-select: none;
            -khtml-user-select: none;
            cursor: pointer;
            font-family: "Century Gothic", Geneva, Verdana, Helvetica, Arial, sans-serif;
            font-size: 0.8em;
            font-weight: bold;
            margin-top: 0px;
            margin-right: 1px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 3px;
            padding-right: 10px;
            padding-bottom: 3px;
            padding-left: 10px;
        }
    }
    div p:first-of-type,
    div ul:first-of-type {
        clear: both;
    }
    div nav + ul {
        padding-top: 1.5em;
    }
    div ul {
        list-style: none;
        margin:0;
          padding: 0.65em;
        li{
        font-weight: 600;
            ul li{
            font-weight: normal;
            }
        }
    }
}

.hidden {
    display: none;
}